java/privacy/privacy/build/*
java/privacy/benchmark/out/*
java/privacy/build/*
java/privacy/desktop/out/*
java/privacy/privacy/out/*
java/privacy/benchmark/out/*
java/privacy/.gradle/*
java/privacy/.idea/*
java/privacy/benchmark/build/*
java/privacy/pressure/build/*
java/privacy/desktop/build/*
java/privacy/privacy/ConfidentialTransaction/

java/web/build/*
cmake-build-debug/*
include/boost
contracts/build/
contracts/.vscode
.idea/
xx/*
CMakeLists.txt
